
body {
  margin: 0 auto;
  padding: 0;
  position: relative;
  max-width: 1440px;
  min-width: 1440px;
  height: 100%;
}
#header {
  background: url(../img/hd-bg.jpg) no-repeat 0 0;
  width: 1440px;
  height: 810px;
  margin: 0 auto 100px auto;
}
#header-wrap {
  position: absolute;
  top: 0;
  right: 0;
}
#slider-wrap {
  width: 1206px;
  position: relative;
  z-index: 2;
  margin: 0 auto;
}
#slider {
  width: 1270px;
  height: 750px;
  overflow: hidden;
  position: relative;
}
.slide {
  width: 100%;
  height: 100%;
}
#prewbutton {
  display: block;
  width: 15px;
  height: 115px;
  position: absolute;
  overflow: hidden;
  text-indent: -999px;
  z-index: 3;
  outline: none !important;
  top: 250px;
  left: 45px;
  background: url(../img/back.png)no-repeat 0 0;
  &:hover {
    opacity: 1;
  }
}
#nextbutton {
  display: block;
  width: 15px;
  height: 115px;
  position: absolute;
  overflow: hidden;
  text-indent: -999px;
  z-index: 3;
  outline: none !important;
  top: 250px;
  right: 55px;
  background: url(../img/next.png)no-repeat 0 0;
  &:hover {
    opacity: 1;
  }
}
.sli-links {
  display: none;
}
.logo {
  position: relative;
  float: left;
  margin: 68px 0 0 180px;
  z-index: 99;
}
.line {
  position: absolute;
  top: 197px;
  left: 129px;
  z-index: 1;
}
.slogan {
  float: right;
  font: 29.5px 'PFDinDisplayPro-Thin';
  color: #55555f;
  margin: 44px 75px 0 0;
}
.language {
  margin: 51px 150px 0 0;
  float: right;
  position: relative;
  z-index: 10;
  p {
    text-align: center;
    margin-bottom: 5px;
  }
  a {
    font: 12px 'PFDinDisplayPro-Regular';
    color: #828282;
    float: left;
    margin: 0 8px 0 0;
    &:last-child {
      margin: 0 0 0 0;
    }
  }
  img {
    margin: 0 0 5px 14px;
  }
}
.navigation {
  ul.nav {
    float: right;
    clear: both;
    margin: 12px 143px 0 0;
    position: relative;
    z-index: 2;
  }
}
.chng-lang {
  a {
    li {
      &:link {
        color: #828282;
      }
      &:visited {
        color: #828282;
      }
      &:active {
        color: #f00;
      }
      &:hover {
        color: #ff0000;
      }
    }
    &:hover {
      text-decoration: none;
    }
  }
  a.last {
    color: red;
  }
}
ul.nav {
  li.brdr_none {
    border: none;
  }
}
.nav {
  a {
    text-decoration: none;
    color: #5c6474;
    float: left;
    li {
      font: 15px 'PFDinDisplayPro-Regular';
      float: left;
      list-style-type: none;
      margin: 0 5px 0 0;
      padding: 0 10px 0 10px;
      border-right: 1px solid red;
      &:hover {
        color: #ff0000;
      }
    }
  }
}
div.redsquare {
  background: url(../img/back-red.jpg) no-repeat 0 0;
}
.redsquare {
  width: 375px;
  height: 535px;
  float: right;
  clear: both;
  margin: 48px 180px 0 0;
  .points {
    margin: 149px 0 0 265px;
  }
  .article {
    color: #fff;
    font: 72.5px/74.5px 'PFDinDisplayPro-Light';
    text-transform: uppercase;
    padding: 50px 40px 0 40px;
    margin-bottom: 40px;
  }
  button {
    width: 303px;
    height: 103px;
    border: none;
    background: url(../img/button-get-catalog.png) no-repeat center;
    margin: 0 35px;
    cursor: pointer;
  }
  .button-text {
    color: #fff;
    font: 22.77px 'PFDinDisplayPro-Medium';
    text-align: left;
  }
  img {
    float: left;
    margin: 0 20px 0 15px;
  }
}
.detail {
  width: 1066px;
  height: 758px;
  position: relative;
  z-index: 0;
  margin: 127px -310px;
}
#white-stripe {
  height: 150px;
  width: 1440px;
}
#get_catalog {
  cursor: pointer;
  position: relative;
  z-index: 100;
}
#about_company {
  background: #e2e2e2;
  width: 1440px;
  height: 695px;
  margin: 0 auto;
  padding: 40px 0 0 0;
  background: url(../img/about-company-bg.jpg) no-repeat 0 0;
  .man {
    float: left;
    margin: -17px 30px 0 0;
  }
  h1 {
    font: 91px 'PFDinDisplayPro-Light';
    color: #ff0000;
    text-transform: uppercase;
    margin: 15px 0 0 0;
  }
  h3 {
    font: 29px 'PFDinDisplayPro-Light';
    color: #535353;
    margin: 30px 0 0 0;
  }
  p {
    padding: 50px 115px 0 0;
    font: 20px/26px 'PFDinDisplayPro-Light';
    color: #535353;
  }
}
#distribution_network {
  background: url(../img/background-block3.jpg) no-repeat center;
  width: 1440px;
  height: 626px;
  button {
    width: 360px;
    height: 95px;
    background: #ff0000;
    border: none;
    border-radius: 4px;
    color: white;
    font: 30px 'PFDinDisplayPro-Medium';
    margin: 230px 0 0 74px;
    text-transform: uppercase;
    cursor: pointer;
    p {
      margin: 12px 0 0 45px;
      float: left;
    }
    img {
      margin: 3px 0 0 0;
    }
  }
  .border {
    width: 1120px;
    height: 417px;
    border: 3px white solid;
    position: absolute;
    top: 1807px;
    right: 329px;
    z-index: 1;
  }
}
.flags {
  width: 450px;
  padding: 70px 0px 0 128px;
  img {
    float: left;
    padding: 10px;
  }
}
.info {
  .title {
    font: 80.5px 'PFDinDisplayPro-Light';
    color: #ff0000;
    text-transform: uppercase;
    padding: 0 0 0 54px;
  }
  .description {
    position: absolute;
    font: 36px/52px 'PFDinDisplayPro-Light';
    color: #fff;
    margin: 25px 0 0 74px;
  }
}
#world_wide {
  width: 1440px;
  height: 425px;
  background: url(../img/background-block4.jpg);
  margin: 0 auto;
  div.text {
    ul {
      li {
        color: #fff;
        font: 92.22px 'PFDinDisplayPro-Bold';
        text-transform: uppercase;
        padding: 0 25px;
        float: left;
        background-repeat: no-repeat;
      }
    }
  }
  .text {
    padding: 43px 0 0 0;
  }
  img {
    margin: 0 45px 0 130px;
    float: left;
  }
  .blue1 {
    background-image: url(../img/2_years.jpg);
  }
  .blue2 {
    background-image: url(../img/2_years_medium.jpg);
  }
  .green {
    background-image: url(../img/2_years_biggest.jpg);
  }
}
#catalog {
  background: url(../img/background-block6.jpg) 0 0 no-repeat;
  height: 646px;
  width: 1440px;
  margin: 0 auto;
  img {
    margin: 86px 100px 0 177px;
    float: left;
  }
  h1 {
    font: 80px 'PFDinDisplayPro-Light';
    text-transform: uppercase;
    color: #ff0000;
    padding: 78px 0 0 0;
  }
  h3 {
    font: 51px 'PFDinDisplayPro-Thin';
    color: #535353;
  }
  p {
    font: 51px 'PFDinDisplayPro-Thin';
    color: #ff0000;
    margin: 0px 0 20px 0;
    span {
      font-family: 'PFDinDisplayPro-Bold';
      color: #000000;
    }
  }
  #get_ctlg_input {
    width: 414px;
    height: 35px;
    border-radius: 2px;
    border: none;
    margin: 0 15px 0 0;
    padding: 0 0 0 12px;
    font: 20px 'PFDinDisplayPro-Light';
    border-style: none;
  }
  #download {
    width: 210px;
    height: 30px;
    background: #ff0000;
    color: #fff;
    border: none;
    font: 20px 'PFDinDisplayPro-Medium';
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    padding-top: 5px;
  }
}
#partnership {
  background: #fff;
  height: 606px;
  width: 1440px;
  margin: 0 auto;
  img {
    float: left;
    margin: 74px 0 0 119px;
  }
  h1 {
    font: 90px 'PFDinDisplayPro-Light';
    color: #ff0000;
    text-transform: uppercase;
  }
  .text {
    float: right;
    margin: 52px 127px 0 0;
    h3 {
      font: 43px 'PFDinDisplayPro-Thin';
      color: #535353;
    }
    span {
      font: 43px 'PFDinDisplayPro-Regular';
    }
  }
  form {
    width: 705px;
    margin: 14px 0 0 0;
  }
  input {
    border: 1px solid #a7aab5;
    clear: both;
  }
  input[type="text"] {
    width: 391px;
    height: 36px;
    border-radius: 4px;
    margin: 0 0 25px 0;
    float: left;
    font: 20px 'PFDinDisplayPro-Light';
    padding: 0 0 0 15px;
  }
  textarea {
    width: 253px;
    height: 158px;
    border-radius: 4px;
    margin: 0 0 30px 15px;
    font: 20px 'PFDinDisplayPro-Light';
    padding: 5px 0 0 15px;
    resize: none;
  }
  input[type="submit"] {
    margin: -8px 0 0 15px;
    width: 266px;
    height: 38px;
    background: #ff0000;
    border-radius: 2px;
    border-style: none;
    font: 20px 'PFDinDisplayPro-Medium';
    color: #fff;
    cursor: pointer;
  }
}
textarea {
  border: 1px solid #a7aab5;
  clear: both;
}
#footer {
  background: url(../img/background-footer.jpg) 0 0 no-repeat;
  height: 275px;
  width: 1440px;
  margin: 0 auto;
  .left {
    float: left;
  }
  .footer_logo {
    margin: 60px 0 50px 135px;
  }
  .footer_left {
    font: 18px 'PFDinDisplayPro-Regular';
    color: #fff;
    margin: 0 0 0 135px;
  }
  .right {
    font: 14px 'PFDinDisplayPro-Regular';
    color: #fff;
    margin: 0 0 0 0;
    float: right;
    ul {
      a {
        float: left;
        margin: 0 10px 0 0;
      }
    }
  }
  .footer_right {
    clear: both;
    padding: 60px 0 0 0;
    margin: 0 145px 0 0;
  }
  .social_icons {
    padding: 60px 0 0 0;
  }
}
#promo-footer {
  .left {
    float: left;
  }
  .right {
    ul {
      a {
        float: left;
        margin: 0 10px 0 0;
      }
    }
    font: 14px 'PFDinDisplayPro-Regular';
    color: #fff;
    margin: -16px 135px 0 0;
    float: right;
  }
  .footer_right {
    clear: both;
    padding: 60px 0 0 0;
    margin: 0 145px 0 0;
  }
  .social_icons {
    padding: 60px 0 0 0;
  }
  .footer_left {
    font: 18px 'PFDinDisplayPro-Regular';
    color: #fff;
    margin: 22px 0 0 135px;
  }
}
#get_ctlg_input {
  float: left;
}
#download {
  float: left;
}
p#not_right {
  margin: -40px 629px 0 0;
}
p#empty {
  margin: -40px 582px 0 0;
  clear: both;
  float: right;
  font: 16px 'PFDinDisplayPro-Light';
  color: #a60000;
}
div {
  p#not_right {
    clear: both;
    float: right;
    font: 16px 'PFDinDisplayPro-Light';
    color: #a60000;
  }
}
p#fav {
  height: 20px;
  width: 155px;
  margin: 56px 56px 0 -46px;
  position: absolute;
  font: 12px 'PFDinDisplayPro-Regular';
  color: #828282;
}
#scrollup {
  position: fixed;
  opacity: 0.8;
  padding: 15px 10px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  right: 10px;
  bottom: 10px;
  display: none;
  cursor: pointer;
}
#promo-wrapper-main {
  height: 100%;
  .promo-content {
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 130px;
  }
  .up-part {
    width: 1440px;
    height: 304px;
    background: url(../img/promo-up-bg.jpg) no-repeat 0 0;
  }
  .title {
    color: #ff0000;
    font: 58px/60px 'PFDinDisplayPro-Light';
    text-transform: uppercase;
    float: right;
    width: 570px;
    margin: 70px 116px 0 0;
    padding-bottom: 36px;
    border-bottom: 18px solid #ff0000;
  }
  .image {
    position: absolute;
    top: 90px;
    left: 130px;
  }
  .list {
    color: #777777;
    font: 18px/20px 'PFDinDisplayPro-Regular';
    position: absolute;
    right: 35px;
    thead {
      td {
        color: #000;
        padding: 30px 0;
      }
    }
    td {
      padding-right: 80px;
    }
  }
  .go-to-main-button {
    position: relative;
    min-height: 350px;
    &:after {
      content: ' ';
      display: table;
      clear: both;
    }
    a {
      color: #fff;
      background: #ff0000;
      padding: 7px 29px;
      font: 18px/20px 'PFDinDisplayPro-Regular';
      text-decoration: none;
      position: absolute;
      bottom: 40px;
      right: 518px;
    }
  }
  #promo-footer {
    height: 120px;
    margin-top: -120px;
    width: 1440px;
    background: url(../img/background-footer.jpg) 0 -90px no-repeat;
  }
}
.joint {
  min-height: 750px;
}
.joint-table {
  width: 650px;
}
