@font-face {
  font-family: 'PFDinDisplayPro-Thin';
  src: url('PFDinDisplayPro-Thin.woff') format('woff'),
       url('PFDinDisplayPro-Thin.ttf') format('truetype'),
       url('PFDinDisplayPro-Thin.svg#PFDinDisplayPro-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pfdindisplaypro-thin';
  src: url('pfdindisplaypro-thin.eot');
  src: url('pfdindisplaypro-thin.woff2') format('woff2'),
       url('pfdindisplaypro-thin.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinDisplayPro-Bold';
  src: url('PFDinDisplayPro-Bold.woff') format('woff'),
       url('PFDinDisplayPro-Bold.ttf') format('truetype'),
       url('PFDinDisplayPro-Bold.svg#PFDinDisplayPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pfdindisplaypro-bold';
  src: url('pfdindisplaypro-bold.eot');
  src: url('pfdindisplaypro-bold.woff2') format('woff2'),
       url('pfdindisplaypro-bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinDisplayPro-Regular';
  src: url('PFDinDisplayPro-Regular.woff') format('woff'),
       url('PFDinDisplayPro-Regular.ttf') format('truetype'),
       url('PFDinDisplayPro-Regular.svg#PFDinDisplayPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pfdindisplaypro-reg';
  src: url('pfdindisplaypro-reg.eot');
  src: url('pfdindisplaypro-reg.woff2') format('woff2'),
       url('pfdindisplaypro-reg.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinDisplayPro-Medium';
  src: url('PFDinDisplayPro-Medium.woff') format('woff'),
       url('PFDinDisplayPro-Medium.ttf') format('truetype'),
       url('PFDinDisplayPro-Medium.svg#PFDinDisplayPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pfdindisplaypro-med';
  src: url('pfdindisplaypro-med.eot');
  src: url('pfdindisplaypro-med.woff2') format('woff2'),
       url('pfdindisplaypro-med.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinDisplayPro-Light';
  src: url('PFDinDisplayPro-Light.woff') format('woff'),
       url('PFDinDisplayPro-Light.ttf') format('truetype'),
       url('PFDinDisplayPro-Light.svg#PFDinDisplayPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pfdindisplaypro-light';
  src: url('pfdindisplaypro-light.eot');
  src: url('pfdindisplaypro-light.woff2') format('woff2'),
       url('pfdindisplaypro-light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

